<table
  mat-table
  [dataSource]="subprojects"
  matSort
  matSortActive="fullNumber"
  matSortDirection="asc"
  matSortDisableClear
  class="mat-elevation-z8">
  <ng-container matColumnDef="fullNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nummer</th>
    <td mat-cell *matCellDef="let subproject">{{subproject.fullNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kunde</th>
    <td mat-cell *matCellDef="let subproject">{{subproject.customerName}}</td>
  </ng-container>

  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Projekt</th>
    <td mat-cell *matCellDef="let subproject">{{subproject.projectName}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subprojekt</th>
    <td mat-cell *matCellDef="let subproject">{{subproject.name}}</td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="tools" *matCellDef="let subproject">
      <a mat-icon-button [routerLink]="[subproject.id]">
        <mat-icon>layers</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let subproject; columns: displayedColumns;"></tr>
</table>
