mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

table {
  width: 100%;
}

.tools {
  text-align: right;
  width: 5em;
}

tr {
  .tools button {
    display: none;
  }

  &:hover .tools button {
    display: inline-block;
  }
}
