; Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = CRLF
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2

[*.cs]

# CA1200: Avoid using cref tags with a prefix
dotnet_diagnostic.CA1200.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = none
