html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// see https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@import '~@angular/material/theming';
@include mat-core();

@import 'theme';
@import 'app/work-record/shared/theme';

@mixin apply-theme($theme) {
  @include work-record-shared-theme($theme);
  @include angular-material-theme($theme);
}

.bright-theme {
  @include apply-theme($rolx-light-theme);
}

.dark-theme {
  @include apply-theme($rolx-dark-theme);
}

// disable all spin buttons on number inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
