<table mat-table [dataSource]="records" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="date">Tag</th>
    <td mat-cell *matCellDef="let record" class="date">
      {{record.date | date : 'd'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let record">{{record.dayName}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let record; columns: displayedColumns;"
      [class.non-workday]="record.dayType !== DayType.Workday"></tr>
</table>
