<mat-card>

  <mat-card-title *ngIf="isNew">
    Neues Projekt
  </mat-card-title>

  <mat-card-title *ngIf="!isNew">
    Projekt bearbeiten
  </mat-card-title>

  <mat-card-content>
    <form id="project-edit" [formGroup]="projectForm" (ngSubmit)="submit()" autocomplete="off">

      <mat-form-field>
        <input matInput formControlName="number" placeholder="Projekt Nr." required>
        <mat-error *ngIf="hasError('number', 'required')">
          Pflichtfeld
        </mat-error>
        <mat-error *ngIf="hasError('number', 'notUnique')">
          Diese Nummer ist bereits vergeben
        </mat-error>
        <mat-error *ngIf="hasError('number', 'pattern')">
          Ungültiges Format
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="customer"
               placeholder="Kunde"
               [matAutocomplete]="customerChoices"
               required>
        <mat-error *ngIf="hasError('customer', 'noCustomer')">
          Kein Kunde ausgewählt
        </mat-error>
      </mat-form-field>

      <mat-autocomplete
          #customerChoices="matAutocomplete"
          autoActiveFirstOption
          [displayWith]="customerDisplay">
        <mat-option *ngFor="let customer of customersFiltered$ | async" [value]="customer">
          {{customerDisplay(customer)}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="hasError('number', 'required')">
          Pflichtfeld
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="openUntil"
               [matDatepicker]="openUntilPicker"
               placeholder="Offen bis">
        <mat-datepicker-toggle matSuffix [for]="openUntilPicker"></mat-datepicker-toggle>
        <mat-datepicker #openUntilPicker></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="back()">Zurück</button>
    <button mat-button
            type="submit"
            form="project-edit"
            [disabled]="!projectForm.valid">
      Speichern
    </button>
  </mat-card-actions>
</mat-card>
