.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button {
    opacity: 0.1;
    transition: opacity 0.3s ease-out;

    &:focus {
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }
  }

  &:hover button {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}
