<span *ngIf="balance$ | async as balance" class="container">
  <span>
    <small>Gleitzeit:</small>

    <span>
      {{balance.overtime.hours | number: '1.0-2'}}
      <small>h</small>
    </span>
  </span>

  <span>
    <small>Ferien:</small>

    <span>
      {{balance.vacationAvailableDays | number:'1.0-2'}}
      <small>{{balance.vacationAvailableDays === 1 ? 'Tag' : 'Tage'}}</small>

      <small *ngIf="balance.vacationPlannedDays > 0">
        ({{balance.vacationPlannedDays | number:'1.0-2'}} geplant)
      </small>
    </span>
  </span>
</span>
