<mat-card>
  <mat-card-title> 404 - Not found </mat-card-title>

  <mat-card-content>
    <p>
      “Granny Weatherwax was not lost. She wasn't the kind of person who ever became lost. It was
      just that, at the moment, while she knew exactly where SHE was, she didn't know the position
      of anywhere else.”
    </p>

    <p>― Terry Pratchett, Wyrd Sisters</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="navigateBack()">BACK</button>
  </mat-card-actions>
</mat-card>
