table {
  width: 100%;
}

th.day-header, td.day {
  width: 1%;
}

td.day {
  span, rolx-week-table-cell {
    display: inline-block;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 5em;
  }

  &:last-child {
    span, rolx-week-table-cell {
      padding-right: 0;
    }
  }
}

.day {
  text-align: right;
}

.day-header {
  text-align: center;
}
