<mat-card>

  <mat-card-title *ngIf="isNew">
    Neuer Kunde
  </mat-card-title>

  <mat-card-title *ngIf="!isNew">
    Kunde bearbeiten
  </mat-card-title>

  <mat-card-content>
    <form id="customer-edit" [formGroup]="customerForm" (ngSubmit)="submit()" autocomplete="off">

      <mat-form-field>
        <input matInput formControlName="number" placeholder="Kunden Nr." required>
        <mat-error *ngIf="hasError('number', 'required')">
          Pflichtfeld
        </mat-error>
        <mat-error *ngIf="hasError('number', 'notUnique')">
          Diese Nummer ist bereits vergeben
        </mat-error>
        <mat-error *ngIf="hasError('number', 'pattern')">
          Ungültiges Format
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="hasError('name', 'required')">
          Pflichtfeld
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="back()">Zurück</button>
    <button mat-button
            type="submit" form="customer-edit"
            [disabled]="!customerForm.valid">
      Speichern
    </button>
  </mat-card-actions>
</mat-card>
