<mat-card>

  <mat-card-title>Phase {{project.number}}.{{phase.number | number:'3.0'}}</mat-card-title>

  <mat-card-content>
    <p>
      Project {{project.number}} - {{project.name}}
    </p>

    <form id="phase-edit" [formGroup]="phaseForm" (ngSubmit)="submit()" autocomplete="off">

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="hasError('name', 'required')">
          Pflichtfeld
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="startDate"
               [matDatepicker]="startDatePicker"
               placeholder="Start"
               (focus)="startDatePicker.open()"
               required>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-error *ngIf="hasError('startDate', 'required')">
          Pflichtfeld
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="endDate"
               [matDatepicker]="endDatePicker"
               (focus)="endDatePicker.open()"
               placeholder="Ende"
               [min]="phaseForm.controls.startDate.value">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error *ngIf="hasError('endDate', 'matDatepickerMin')">
          Das Ende eines Projektes liegt in der Regel nach dessen Start.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="number"
               formControlName="budgetHours"
               placeholder="Budget">
        <span matSuffix>h</span>
        <mat-error *ngIf="hasError('budgetHours', 'min')">
          Negative Budgets sind nur schwer einzuhalten.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="isBillable">Verrechenbar</mat-checkbox>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="cancel()">Abbruch</button>
    <button mat-button
            type="submit"
            form="phase-edit"
            [disabled]="!phaseForm.valid">
      Speichern
    </button>
  </mat-card-actions>

</mat-card>
