:host {
  display: inline-block;
}

// https://stackoverflow.com/questions/56302795/how-to-use-angular-material-form-field-and-flex-layout
:host ::ng-deep .mat-form-field-infix {
  // width: auto !important;
  width: unset !important;
}

input {
  text-align: right;
}

mat-form-field {
  button {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &:hover button {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}
