<mat-card>

  <mat-card-title>

    <!-- TODO: pack this into a component -->
    <img mat-card-avatar
         src="{{ user.avatarUrl || 'assets/images/defaultAvatar.png' }}"
         alt="avatar" />

    <span>
      {{user.fullName}}
    </span>

  </mat-card-title>

  <mat-card-content>

    <p>
      {{user.email}}
    </p>

    <form id="user-edit"
          mat-dialog-content
          [formGroup]="form"
          (ngSubmit)="submit()"
          autocomplete="off">

      <mat-form-field>
        <mat-label>Rolle</mat-label>
        <mat-select [formControl]="roleControl" required>
          <mat-option [value]="Role.User">
            {{Role[Role.User]}}
          </mat-option>
          <mat-option [value]="Role.Supervisor">
            {{Role[Role.Supervisor]}}
          </mat-option>
          <mat-option [value]="Role.Administrator">
            {{Role[Role.Administrator]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleControl.hasError('required')">
          Pflichtfeld
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [formControl]="entryDateControl"
               [matDatepicker]="entryDatePicker"
               placeholder="Entritt"
               (focus)="entryDatePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #entryDatePicker></mat-datepicker>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="cancel()">Abbruch</button>
    <button mat-button
            type="submit"
            form="user-edit"
            [disabled]="!form.valid">
      Speichern
    </button>
  </mat-card-actions>

</mat-card>
