table {
  width: 100%;
  margin-bottom: 1em;
}

.tools {
  text-align: right;
  width: 6em;

  &.admin {
    width: 9em;
  }
}

tr {
  .tools a {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &:hover .tools a {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}
