<div class="filters">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      #filter
      matInput
      [value]="filterService.filterText"
      (keyup)="applyFilter(filter.value)" />
    <button mat-icon-button matSuffix (click)="applyFilter('')" [disabled]="filter.value === ''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-checkbox (change)="update($event.checked)" [(ngModel)]="filterService.showLefties">
    Ehemalige Mitarbeiter anzeigen
  </mat-checkbox>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortDisableClear class="mat-elevation-z8">
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <rolx-user-avatar [user]="user"></rolx-user-avatar>
    </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let user">{{tpd(user).firstName}} {{tpd(user).lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let user">{{tpd(user).email}}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
    <td mat-cell *matCellDef="let user">{{ Role[tpd(user).role] }}</td>
  </ng-container>

  <ng-container matColumnDef="entryDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Eintritt</th>
    <td mat-cell *matCellDef="let user">{{tpd(user).entryDate.toDate() | date : 'mediumDate'}}</td>
  </ng-container>

  <ng-container matColumnDef="leavingDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Austritt</th>
    <td mat-cell *matCellDef="let user">
      {{tpd(user).leavingDate?.toDate() | date : 'mediumDate'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      class="tools"
      *matCellDef="let user"
      [class.admin]="authService.currentApprovalOrError.isAdministrator">
      <a
        mat-icon-button
        [routerLink]="['/reports']"
        [queryParams]="{'userId': user.id}"
        matTooltip="Monatsübersicht">
        <mat-icon>layers</mat-icon>
      </a>
      <a
        mat-icon-button
        [routerLink]="['/week']"
        [queryParams]="{'userId': user.id}"
        matTooltip="Erfassung">
        <mat-icon>schedule</mat-icon>
      </a>
      <a
        mat-icon-button
        *ngIf="authService.currentApprovalOrError.isAdministrator"
        [routerLink]="[user.id]"
        matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let user; columns: displayedColumns;"
    [class.unconfirmed]="!tpd(user).isConfirmed"
    [routerLink]="['/reports']"
    [queryParams]="{'userId': user.id}"></tr>
</table>
