<mat-card>
  <mat-card-title *ngIf="isNew"> Neues Subprojekt </mat-card-title>

  <mat-card-title *ngIf="!isNew"> Subprojekt bearbeiten </mat-card-title>

  <mat-card-content>
    <form id="subproject-edit" [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <mat-form-field>
        <input matInput formControlName="number" placeholder="Nummer" required />
        <mat-error *ngIf="hasError('number', 'required')"> Pflichtfeld </mat-error>
        <mat-error *ngIf="hasError('number', 'notUnique')">
          Diese Nummer ist bereits vergeben
        </mat-error>
        <mat-error *ngIf="hasError('number', 'pattern')"> Ungültiges Format </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required />
        <mat-error *ngIf="hasError('name', 'required')"> Pflichtfeld </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="cancel()">Abbruch</button>
    <button mat-button type="submit" form="subproject-edit" [disabled]="!form.valid">
      Speichern
    </button>
  </mat-card-actions>
</mat-card>
