@use '~@angular/material/theming' as theme;
@use '@angular/material' as mat;

// see https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@mixin work-record-shared-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $nonWorkdayBackground: theme.mat-color($background, disabled-button);
  $backgroundColor: theme.mat-color($background, card);

  $primary: map-get($theme, primary);
  $todayBackground: theme.mat-color($primary, lighter);

  table {

    .non-workday {
      background-color: $nonWorkdayBackground;
    }
    .today {
      background-color: $todayBackground;
    }
    .tree-node {
      color: mat.get-color-from-palette($foreground, secondary-text, 0.5);
    }

    // hack to make the header opaque
    th.non-workday {
      &::before, &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &::before {
        background-color: $backgroundColor;
      }
      &::after {
        background-color: $nonWorkdayBackground;
      }
    }
  }
}
