<mat-card>
  <mat-card-title> Ooops, something went wrong... </mat-card-title>

  <mat-card-content>
    <p>
      “The factory of the future will have only two employees, a man, and a dog. The man will be
      there to feed the dog. The dog will be there to keep the man from touching the equipment.”
    </p>

    <p>― Warren G. Bennis</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="navigateHome()">HOME</button>
    <button mat-stroked-button (click)="retry()">RETRY</button>
  </mat-card-actions>
</mat-card>
