
$gutter: 1em;
$half-gutter: $gutter / 2;

form {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -($half-gutter) 0 -($half-gutter);

  mat-form-field {
    flex-grow: 1;
    padding: 0 $half-gutter 0 $half-gutter;
  }
}

mat-option {
  font-size: 14px;
}

button {
  text-transform: uppercase;
}
