<mat-card *ngIf="project$ | async as project">

  <mat-card-content>
    <form id="customer-edit" (ngSubmit)="submit(project)" #customerEditForm="ngForm">

      <mat-form-field>
        <input matInput
               name="name"
               placeholder="Projekt Nr."
               [(ngModel)]="project.number"
               required>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               #customerInput
               name="customer"
               placeholder="Kunde"
               [(ngModel)]="project.customer"
               (focus)="updateFilterText(customerInput.value)"
               (ngModelChange)="updateFilterText(customerInput.value)"
               (blur)="validateCustomer(project)"
               [matAutocomplete]="customerChoices"
               required>
      </mat-form-field>

      <mat-autocomplete #customerChoices="matAutocomplete" [displayWith]="customerDisplay">
        <mat-option *ngFor="let customer of customersFiltered$ | async" [value]="customer">
          {{customerDisplay(customer)}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput
               name="number"
               placeholder="Name"
               [(ngModel)]="project.name"
               required>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [matDatepicker]="picker"
               name="openUntil"
               placeholder="Offen bis"
               [(ngModel)]="project.openUntil">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="back()">Zurück</button>
    <button mat-button
            type="submit" form="customer-edit"
            [disabled]="!customerEditForm.form.valid">
      Speichern
    </button>
  </mat-card-actions>
</mat-card>
