<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!--Enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--See https://github.com/NLog/NLog/wiki/Getting-started-with-ASP.NET-Core-6 for a more detailed config -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${MicrosoftConsoleLayout:TimestampFormat=HH\:mm\:ss.fff}" />
  </targets>

  <rules>
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />

    <!--Skip non-critical Microsoft logs -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!--The remaining stuff is logged -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
