mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

$gutter: 16px;

.exports {
  margin-top: $gutter;
  display: flex;
  gap: $gutter;
}
