mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;

  .tools a {
    opacity: 0.1;
    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s ease-in;
    }
  }
}

$gutter: 16px;

.exports {
  margin-top: $gutter;
  display: flex;
  gap: $gutter;
  & > mat-card{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
