<mat-card *ngIf="routeParams$ | async as params">
  <ng-container *ngIf="recordsActivitiesUser$ | async as recordsActivitiesUser">
    <mat-card-title>
      <a
        mat-icon-button
        [routerLink]="params.previousRouteCommands"
        [queryParams]="params.queryParams">
        <mat-icon>chevron_left</mat-icon>
      </a>

      <a mat-icon-button [routerLink]="params.nextRouteCommands" [queryParams]="params.queryParams">
        <mat-icon>chevron_right</mat-icon>
      </a>

      <span *ngIf="!params.isCurrentUser">{{recordsActivitiesUser[2].fullName}}, </span> Woche
      {{params.monday.toDate() | date: 'mediumDate'}} - {{params.nextSunday.toDate() | date:
      'mediumDate'}}

      <small>(KW{{params.monday.isoWeek() | number: '2.0'}})</small>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-title>

    <mat-card-content>
      <rolx-week-table
        *ngIf="recordsActivitiesUser[2] !== undefined"
        [records]="recordsActivitiesUser[0]"
        [activities]="recordsActivitiesUser[1]"
        [user]="recordsActivitiesUser[2]"
        [isCurrentUser]="params.isCurrentUser"
        [showWeekends]="showWeekends"
        [asTreeView]="asTree"></rolx-week-table>
    </mat-card-content>
  </ng-container>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleFlag('asTree')">
    <mat-icon>{{checkBoxForFlag('asTree')}}</mat-icon>
    <span>Baumansicht</span>
  </button>

  <button mat-menu-item (click)="toggleFlag('showWeekends')">
    <mat-icon>{{checkBoxForFlag('showWeekends')}}</mat-icon>
    <span>Wochenende</span>
  </button>

  <button
    mat-menu-item
    (click)="toggleFlag('voiceInput')"
    [disabled]="!voiceService.isSupported"
    [matTooltip]="voiceService.isSupported ? '' : 'Die Spracheingabe wird zurzeit nur von Chrome oder Edge unterstützt.'">
    <mat-icon>{{checkBoxForFlag('voiceInput')}}</mat-icon>
    <span>Spracheingabe</span>
  </button>
</mat-menu>
