<mat-card *ngIf="monday$ | async as monday">
  <mat-card-title>
    <button mat-icon-button (click)="previous(monday)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="next(monday)">
      <mat-icon>chevron_right</mat-icon>
    </button>

    Woche {{monday.toDate() | date: 'mediumDate'}} - {{monday.clone().add(6, 'day').toDate() | date:
    'mediumDate'}}

    <small>(KW{{monday.week() | number: '2.0'}})</small>
  </mat-card-title>

  <mat-card-content *ngIf="recordsAndActivities$ | async as recordsAndActivities">
    <rolx-week-table
      *ngIf="user !== undefined"
      [records]="recordsAndActivities[0]"
      [activities]="recordsAndActivities[1]"
      [user]="user"></rolx-week-table>
  </mat-card-content>
</mat-card>
